@model GestionNotificaciones.Models.ViewModels.AgregarTagRequest
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Nuevo Tag</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" asp-for="Nombre" />
            <span class="text-danger" asp-validation-for="Nombre"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Descripción del uso del Tag</label>
            <input type="text" class="form-control" id="descripcion" asp-for="Descripcion" />
            <span class="text-danger" asp-validation-for="Descripcion"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Guardar</button>
        </div>
    </form>
</div>