@model List<GestionNotificaciones.Models.Entities.Tag>

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Tags</h1>
    </div>
</div>

<div class="container py-5">

    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción del uso</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tag in Model)
                {
                    <tr>
                        <td>@tag.Id</td>
                        <td>@tag.Nombre</td>
                        <td>@tag.Descripcion</td>
                        <td>
                        <a asp-area=""
                        asp-controller="GestionTags"
                        asp-action="EditarTag"
                        asp-route-id="@tag.Id">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay Tags en la base de datos</p>
    }

</div>